@model IEnumerable<SajatOldal.Models.Motorok.Motorok>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Számítások listája</h1>

<p>
    <a asp-action="Create">Új számítás létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Auto Típusa
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>            
            <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Módosítás</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Részletek</a>
                        <a asp-action = "Delete" asp-route-id = "@item.Id" > Törlés </a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Részletek</a>
                    }
            </td>
                
        </tr>
}
    </tbody>
</table>
